@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    color: #FFF;
    background-color: #000000;
}

#sales {
    padding: 40px 10px;
}

.dsmeta-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}
.show576,
.show992 {
    display: none;
}

@media (min-width: 576px) {
    .show576 {
        display: table-cell;
    }

    .dsmeta-card {
        padding: 35px;
    }

    .dsmeta-sales-table tbody tr {
        height: 55px;
        border-top: 1px solid #5F6E82;
    }

    .dsmeta-sales-table tbody {
        font-size: 18px;
    }
}

@media (min-width: 992px) {
    .show992 {
        display: table-cell;
    }
}