@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    color: #FFF;
    background-color: #000000;
}

header {
    height: 220px;
    background: linear-gradient(180deg, #102347 0%, #181818 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

a,
a:hover,
a:visited {
    color: unset;
    text-decoration: none;
}