.dsmeta-red-btn-container {
    display: flex;
    justify-content: center;
}

.dsmeta-red-btn {
    width: 45px;
    height: 45px;
    background: rgba(255, 107, 114, 0.1);
    border: 1px solid #FF6B72;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dsmeta-red-btn img {
    width: 19px;

}