@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    color: #FFF;
    background-color: #000000;
}

header {
    height: 220px;
    background: linear-gradient(180deg, #102347 0%, #181818 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

a,
a:hover,
a:visited {
    color: unset;
    text-decoration: none;
}

.dsmeta-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dsmeta-logo-container h1 {
    margin-top: 15px;
    font-size: 24 px;
}

.dsmeta-logo-container p {
    font-size: 14px;
    font-weight: 300;
}

/*main {
    display: flex;
    align-items: center;
    justify-content: center;
}
*/
#sales {
    padding: 40px 10px;
}

.dsmeta-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.dsmeta-card {
    background-color: #283142;
    border-radius: 10px;
    padding: 30px 10px;
}

.dsmeta-sales-title {
    font-size: 24px;
    color: #676FFF;
    margin-bottom: 20px;
}

.dsmeta-form-control-container {
    margin-bottom: 16px;
    max-width: 300px;
}

.dsmeta-form-control {
    height: 46px;
    width: 100%;
    box-sizing: border-box;
    background-color: #1B2531;
    border: 1px solid #384459;
    border-radius: 5px;
    color: #9AAABE;
    padding: 0 20px;
    font-size: 18px;
}

.dsmeta-sales-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.dsmeta-sales-table thead {
    font-size: 16px;
    height: 55px;
    color: #E9E9E9;

}

.dsmeta-sales-table tbody {
    font-size: 14px;
    font-weight: 400;
    height: 74px;
    color: #CFCFCF;
    text-align: center;
}

.dsmeta-sales-table tbody tr {
    height: 74px;
    border-top: 1px solid #5F6E82;
}

.dsmeta-sales-table tbody tr:hover>td {
    background-color: #384459;
}

.dsmeta-sales-table tbody tr:nth-child(odd) {
    background-color: #242C3B;
}

.dsmeta-red-btn-container {
    display: flex;
    justify-content: center;
}

.dsmeta-red-btn {
    width: 45px;
    height: 45px;
    background: rgba(255, 107, 114, 0.1);
    border: 1px solid #FF6B72;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dsmeta-red-btn img {
    width: 19px;

}

.show576,
.show992 {
    display: none;
}

@media (min-width: 576px) {
    .show576 {
        display: table-cell;
    }

    .dsmeta-card {
        padding: 35px;
    }

    .dsmeta-sales-table tbody tr {
        height: 55px;
        border-top: 1px solid #5F6E82;
    }

    .dsmeta-sales-table tbody {
        font-size: 18px;
    }
}

@media (min-width: 992px) {
    .show992 {
        display: table-cell;
    }
}